<p-dialog (onHide)="hide()" (onShow)="show()" [(visible)]="visible" [modal]="true" [style]="{width: '40vw'}">
    <ng-template pTemplate="header">
        {{accion.toLocaleUpperCase()}} CATEGORIA
    </ng-template>

    <div class="grid">
        <div class="col-12 md-6 " > 
            <form [formGroup]="formsCategoria">
                <div class="p-fluid mt-2">
                    <div class="p-field p-2"  >
                        <label for="nombre">Ingrese un nombre</label>
                        <input formControlName="nombre" class="p-inputtext-lg {{invalid}}" id="nombre" type="text" pInputText>
                        <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un nombre</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple class="p-button-outlined-success" (click)="submit()" label="Guardar" iconPos="right"></button>
    </ng-template>
  </p-dialog>
  
  <p-toast key="abm-categoria"></p-toast>
  
  