<div class="background-container"> 
    <div *ngIf="ban"  class="surface-card p-4 shadow-2 border-round lg:w-6  w-full">
        <div class="grid">
            <div class="col-12 md-6 text-4xl">
                {{accion.toLocaleUpperCase()}} PRODUCTO
            </div>
        </div>
        <div class="grid">
            <div class="col-12 md-6 " > <!--p-fluid mt-2-->
                <form [formGroup]="formsProducto">
                    <div class="p-fluid mt-2" >
                        <div class="p-field p-2">
                            <label for="nombre" class="mb-2 block"  >Nombre de Producto:</label>
                            <input formControlName="nombre" class="p-inputtext-lg {{invalid}}"  id='nombre' pInputText />
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un nombre</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="stock" class="mb-2 block">Stock:</label>
                            <p-inputNumber formControlName="stock" id="stock" class="p-inputtext-lg {{invalid}}"  [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="2000" ></p-inputNumber>
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un stock</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="categoria" class="mb-2 block">Seleccione la categoria:</label>
                            <p-dropdown formControlName="categoria_producto" id="categoria" class="p-inputtext-lg {{invalid}}" [options]="categoria_producto" optionLabel="nombre"  optionValue="id"></p-dropdown>
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe seleccionar una categoria</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="precio" class="mb-2 block">Precio:</label>
                            <p-inputNumber formControlName="precio" id="precio" class="p-inputtext-lg {{invalid}}"  [showButtons]="true" inputId="stacked" mode="currency" currency="ARS" [min]="1" [max]="100000000" ></p-inputNumber>
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un precio</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="costo" class="mb-2 block">Costo:</label>
                            <p-inputNumber formControlName="costo" id="costo" class="p-inputtext-lg {{invalid}}"  [showButtons]="true" inputId="stacked" mode="currency" currency="ARS" [min]="1" [max]="100000000" ></p-inputNumber>
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un costo</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="unidad_medida" class="mb-2 block">Seleccione la unidad de medida:</label>
                            <p-dropdown formControlName="unidad_medida" id="unidad_medida" class="p-inputtext-lg {{invalid}}" [options]="unidad_medida" optionLabel="nombre"  optionValue="id" ></p-dropdown>
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe seleccionar una unidad de medida</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="original" class="mb-2 block">¿Es producto original?</label>
                            <p-selectButton formControlName="original" id="original" class="p-inputtext-lg {{invalid}}" [options]="original" optionLabel="label" optionValue="value" ></p-selectButton>
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe seleccionar si es original o no</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="marca" class="mb-2 block">Seleccione la marca:</label>
                            <p-dropdown formControlName="marca" id="marca" class="p-inputtext-lg {{invalid}}" [options]="marca" optionLabel="nombre"  optionValue="id" ></p-dropdown>
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe seleccionar una marca</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="color" class="mb-2 block">Seleccione el color:</label>
                            <p-multiSelect formControlName="color" id="color" class="p-inputtext-lg {{invalid}}" [options]="color" optionLabel="nombre"  optionValue="id"  ></p-multiSelect>
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe seleccionar un color</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="grid">
            <div class="col-3 md-6 "> 
                <p-button  styleClass="p-button-warning" class="p-2"  (click)="Cancelar()" label="Cancelar"></p-button>
            </div>
            <div class="col-3 md-6 col-offset-6"> 
                <p-button  styleClass="p-button-success" class="p-2" (click)="submit()" label="Guardar" ></p-button>
            </div>
        </div>
    </div>

    <div *ngIf="!ban" >
        <div class="grid">
            <div class="col-12 md-6 " > 
                <div class="p-field p-2">
                    <p-toast></p-toast>
                    <p-fileUpload name="imagen" url="{{env.apiURL}}/producto/subir_imagen/{{id_producto}}/" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" >     </p-fileUpload>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast key="abm-producto"></p-toast>