<div class="background-container" >
    <div class="surface-card p-4 shadow-2 border-round lg:w-6  w-full">
        <div class="grid">
            <div class="col-12 md-6 text-4xl">
                {{accion.toLocaleUpperCase()}} USUARIO
            </div>
        </div>
        <div class="grid">
            <div class="col-12 md-6 " > <!--p-fluid mt-2-->
                <form [formGroup]="formsUsuario">
                    <div class="p-fluid mt-2" >
                        <div class="p-field p-2">
                            <label for="nombres" class="mb-2 block"  >Nombres:</label>
                            <input formControlName="nombres" class="p-inputtext-lg {{invalid}}"  id='nombres' pInputText />
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un nombre</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="apellidos" class="mb-2 block"  >Apellidos:</label>
                            <input formControlName="apellidos" class="p-inputtext-lg {{invalid}}"  id='apellidos' pInputText />
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un apellido</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="usuario" class="mb-2 block"  >Nombre de usuario:</label>
                            <input formControlName="usuario" class="p-inputtext-lg {{invalid}}"  id='usuario' pInputText />
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un nombre de usuario</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="contraseña" class="mb-2 block"  >Contraseña:</label>
                            <input formControlName="contraseña" class="p-inputtext-lg {{invalid}}"  id='contraseña' pInputText />
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar una contraseña</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="rep_contraseña" class="mb-2 block"  >Repetir Contraseña:</label>
                            <input formControlName="rep_contraseña" class="p-inputtext-lg {{invalid}}"  id='rep_contraseña' pInputText />
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe repetir la contraseña</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="email" class="mb-2 block"  >Correo eLectronico:</label>
                            <input formControlName="email" class="p-inputtext-lg {{invalid}}"  id='email' pInputText />
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un correo electronico</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="dni" class="mb-2 block"  >Dni:</label>
                            <input formControlName="dni" class="p-inputtext-lg {{invalid}}"  id='dni' pInputText />
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un dni</small>
                        </div>
                        <div class="p-field p-2">
                            <label for="cuit" class="mb-2 block"  >Cuit:</label>
                            <input formControlName="cuit" class="p-inputtext-lg {{invalid}}"  id='cuit' pInputText />
                            <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un cuit</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="grid">
            <div class="col-3 md-6 "> 
                <p-button  styleClass="p-button-warning" class="p-2"  (click)="Cancelar()" label="Cancelar"></p-button>
            </div>
            <div class="col-3 md-6 col-offset-6"> 
                <p-button  styleClass="p-button-success" class="p-2" (click)="submit()" label="Guardar" ></p-button>
            </div>
        </div>
    </div>
</div>
<p-toast key="abm-producto"></p-toast>