<p-dialog (onHide)="hide()" (onShow)="show()" [(visible)]="visible" [modal]="true" [style]="{width: '40vw'}">
    <ng-template pTemplate="header">
        {{accion.toLocaleUpperCase()}} COLOR
    </ng-template>

    <div class="grid">
        <div class="col-12 md-6 " > 
            <form [formGroup]="formsColor">
                <div class="p-fluid mt-2">

                    <div class="p-field p-2">
                        <label for="nombre">Ingrese un nombre</label>
                        <input formControlName="nombre" class="p-inputtext-lg {{invalid}}" id="nombre" type="text" pInputText>
                        <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un nombre</small>
                    </div>
                    <div class="p-field p-2">
                        <label for="tono">Ingrese un tono</label>
                        <input formControlName="tono" class="p-inputtext-lg {{invalid}}" id="tono" type="text" pInputText>
                        <small *ngIf="invalid != ''" id="username2-help" class="p-error">Debe ingresar un tono</small>
                    </div>
                </div>
            </form>     
     </div>
</div>
    <ng-template pTemplate="footer">
        <button pButton pRipple class="p-button-outlined-success" (click)="submit()" label="Guardar" iconPos="right"></button>
    </ng-template>
  </p-dialog>
  
  <p-toast key="abm-color"></p-toast>
  
  