
<app-abm-categoria [visible]="modal == 'Categoria'" (success)="success()" [datos]="modalDatos" ></app-abm-categoria>
<p-toast key="categoria"></p-toast>

<p-table
    [value]="Categoria"
    dataKey="id"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 15, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Mostrando {first} pagina con {last} registros, de un total de {totalRecords} registros"
    [tableStyle]="{ 'min-width': '50rem' }"
    >
    <ng-template pTemplate="caption">
        <p class="text-2xl">Listado de  Categorias</p>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="codigo"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="nombre"></p-columnFilter>
            </th>
            <th>
                <p-button icon="pi pi-plus" (onClick)="MODAL('Categoria',null)" label="Nueva Categoria" styleClass="p-button-raised p-button-success"></p-button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
        <tr>
            <td>
                {{ categoria.id }}
            </td>
            <td>
                {{ categoria.nombre }}
            </td>
            <td>
                <p-toast></p-toast>
                <p-confirmPopup></p-confirmPopup>
                <p-button icon="pi pi-pencil" styleClass="p-button-raised" label="Modificar Categoria"  (onClick)="MODAL('Categoria',categoria)"> </p-button>
                <p-button icon="pi pi-trash" styleClass="p-button-raised p-button-danger" label="Eliminar Categoria"  (onClick)="Confirmar($event,categoria.id)"> </p-button>
            
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No existen registros.</td>
        </tr>
    </ng-template>
</p-table>